/* You can add global styles to this file, and also import other style files */
/* reset start */

/* reset end */
body {
  padding-top: 70px;
}
.custom-select:focus {
  outline: none;
  box-shadow: none;
}
